.Carousel {
  width: 960px;
  border: 1px solid #ccc;
  margin: 50px auto;
}

.Carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0;
}


.Carousel-controls {
  width: 960px;
  float: left;
  position: relative;
  margin-top: 10px;
}

.Carousel-item {
  display: none;
}

.active {
  display: block;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

 /* Firefox */
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

 /* Safari and Chrome */
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* Opera */
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.Carousel-navDot {
  height: 15px;
  width: 15px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
}

.Carousel-navDot-active {
  background-color: #999
}
